<!DOCTYPE html>
<html>
<head>
    <title>Mini Museum Meandering Machine</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/main.css">
       
</head>
<body>
    

        <%= yield %>
        
    
</body>
</html>